.form {
  width: 900px;
  background-color: #4d88cf;
  margin: 0 auto;
  border-radius: 10px;
}
.form1 {
  width: 710px;
  margin: 0 auto;
}
.title {
  display: block;
  width: 150px;
  height: 45px;
  background-color: cyan;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  margin: 4px auto 10px;
  border: 1px solid #000;
}
.jack {
  display: block;
  border-bottom: 3px solid #000;
}
.desc {
  text-align: center;
}
.lable {
  display: inline-block;
  width: 200px;
}
.button {
  text-align: center;
}
.btn {
  border-radius: 4px;
}
.textarea {
  display: flex;
}
